{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 85,
  "tabWidth": 2,
  "bracketSameLine": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ]
}
