@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*scrollbar-width: none;*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
